<ion-view view-title="Place">
    <ion-content style="margin-top:50px">
        <ul class="list">
            <li class="item">
                <button class="button button-block button-positive" ng-click="gotoScene(0)">My Table</button>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-click="gotoScene(1)">Creative Room Table</button>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-click="gotoScene(2)">Creative Room Bean Bag</button>
            </li>
            <li class="item">
                <button class="button button-block button-positive" ng-click="gotoScene(3)">Reimbursement Box</button>
            </li>
        </ul>
    </ion-content>
</ion-view>
